replicas: 1
auditInterval: 60
constraintViolationsLimit: 20
auditFromCache: false
logLevel: INFO
image:
  repository: quay.io/open-policy-agent/gatekeeper
  release: v3.1.0-beta.7
  pullPolicy: IfNotPresent
nodeSelector: {}
tolerations: []
podAnnotations: {}
resources:
  limits:
    cpu: 1000m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
