---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    gatekeeper.sh/system: "yes"
  name: providerpodstatuses.status.gatekeeper.sh
spec:
  group: status.gatekeeper.sh
  names:
    kind: ProviderPodStatus
    listKind: ProviderPodStatusList
    plural: providerpodstatuses
    singular: providerpodstatus
  preserveUnknownFields: false
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: ProviderPodStatus is the Schema for the providerpodstatuses API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          status:
            description: No spec field is defined here, as this is a status-only resource.
            properties:
              active:
                type: boolean
              errors:
                items:
                  description: ProviderError represents a single error caught while managing providers.
                  properties:
                    errorTimestamp:
                      format: date-time
                      type: string
                    message:
                      type: string
                    retryable:
                      type: boolean
                    type:
                      description: |-
                        Type indicates a specific class of error for use by controller code.
                        If not present, the error should be treated as not matching any known type.
                      type: string
                  required:
                  - errorTimestamp
                  - message
                  - retryable
                  - type
                  type: object
                type: array
              id:
                type: string
              lastCacheUpdateTime:
                format: date-time
                type: string
              lastTransitionTime:
                format: date-time
                type: string
              observedGeneration:
                format: int64
                type: integer
              operations:
                items:
                  type: string
                type: array
              providerUID:
                description: |-
                  Storing the provider UID allows us to detect drift, such as
                  when a provider has been recreated after its CRD was deleted
                  out from under it, interrupting the watch
                type: string
            type: object
        type: object
    served: true
    storage: true
