# Ignore everything
**

# Allow files and directories
!pkg/
!third_party/
!vendor/
!main.go
!apis/
!go.mod

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
