sudo: required
language: go
go_import_path: github.com/open-policy-agent/gatekeeper
go:
- "1.11"
env:
  - DEP_VERSION=0.5.0

before_install:
  - curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
  - chmod +x $GOPATH/bin/dep
  - dep ensure

deploy:
  - provider: script
    skip_cleanup: true
    script: make travis-dev-deploy
    on:
      repo: open-policy-agent/gatekeeper
      branch: master
      tags: false
  - provider: script
    skip_cleanup: true
    script: make travis-dev-release
    on:
      repo: open-policy-agent/gatekeeper
      branch: master
      tags: true