---
{{- if not .Values.externalCertInjection.enabled }}
apiVersion: v1
kind: Secret
metadata:
  annotations: {{- toYaml .Values.secretAnnotations | trim | nindent 4 }}
  labels:
    app: '{{ template "gatekeeper.name" . }}'
    chart: '{{ template "gatekeeper.name" . }}'
    gatekeeper.sh/system: "yes"
    heritage: '{{ .Release.Service }}'
    release: '{{ .Release.Name }}'
  name: gatekeeper-webhook-server-cert
  namespace: '{{ .Release.Namespace }}'
{{- end }}
