---
{{- if .Values.serviceAccount.gatekeeperAdmin.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: '{{ template "gatekeeper.name" . }}'
    chart: '{{ template "gatekeeper.name" . }}'
    gatekeeper.sh/system: "yes"
    heritage: '{{ .Release.Service }}'
    release: '{{ .Release.Name }}'
  name: gatekeeper-admin
  namespace: '{{ .Release.Namespace }}'
{{- end }}
