# TODO: this is a temporary placement for the mutation webhook
# It is kept separate until the mutation feature is stable enough.
# Then the mutation webhook should be moved to config/webhooks/manifests.yaml

apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: gatekeeper-mutating-webhook-configuration
  annotations:
    HELMSUBST_MUTATING_WEBHOOK_ANNOTATIONS: ""
webhooks:
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: webhook-service
        namespace: system
        path: /v1/mutate
    failurePolicy: Ignore
    name: mutation.gatekeeper.sh
    matchPolicy: Exact
    rules:
      - apiGroups:
          - "*"
        apiVersions:
          - "*"
        operations:
          - CREATE
          - UPDATE
        resources:
          - "*"
    sideEffects: None
