name: disk-export
on:
  push:
    paths:
      - "pkg/export/dapr"
      - "pkg/export/disk"
      - "test/export/**"
  pull_request:
    paths:
      - "pkg/export/dapr"
      - "pkg/export/disk"
      - "test/export/**"
permissions: read-all

jobs:
  disk_test:
    name: "Disk export test"
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Check out code into the Go module directory
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Bootstrap e2e
      run: |
        mkdir -p $GITHUB_WORKSPACE/bin
        echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
        make e2e-bootstrap

    - name: Run e2e
      run: |
        make docker-buildx IMG=gatekeeper-e2e:latest
        make e2e-build-load-externaldata-image
        make e2e-reader-build-image
        make docker-buildx-crds CRD_IMG=gatekeeper-crds:latest CI=true
        kind load docker-image --name kind gatekeeper-e2e:latest fake-reader:latest gatekeeper-crds:latest
        kubectl create ns gatekeeper-system

        make e2e-helm-deploy HELM_REPO=gatekeeper-e2e HELM_CRD_REPO=gatekeeper-crds HELM_RELEASE=latest ENABLE_EXPORT=true LOG_LEVEL=DEBUG EXPORT_BACKEND=disk FAKE_READER_IMAGE_PULL_POLICY=Never AUDIT_CONNECTION=audit-connection AUDIT_CHANNEL=audit-channel EXPORT_DISK_MOUNT=/tmp/violations EXPORT_DISK_PATH=/tmp/violations/topics MAX_AUDIT_RESULTS=3 FAKE_READER_IMAGE=fake-reader:latest

        make test-e2e ENABLE_EXPORT_TESTS=1 EXPORT_BACKEND=disk

    - name: Save logs
      if: ${{ always() }}
      run: |
        kubectl logs -n gatekeeper-system -l control-plane=audit-controller -c manager --tail=-1 > logs-audit-manager.json
        kubectl logs -n gatekeeper-system -l control-plane=audit-controller -c reader --tail=-1 > logs-audit-export.json

    - name: Upload artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: ${{ always() }}
      with:
        name: export-logs
        path: |
          logs-*.json

