name: check-helm-lint
on:
  push:
    paths:
      - "cmd/build/helmify/static/**"
      - "manifest_staging/**"
  pull_request:
    paths:
      - "cmd/build/helmify/static/**"
      - "manifest_staging/**"

permissions: read-all

jobs:
  helm_lint_test:
    name: "Helm lint"
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    
    - name: Set up Helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      with:
        version: "3.17.4"
      id: install
    
    - name: Lint Helm charts
      run: |
        helm lint manifest_staging/charts/gatekeeper/
        helm lint cmd/build/helmify/static/
