name: check-manifest
on:
  push:
    paths:
      - "cmd/**"
      - "manifest_staging/**"
  pull_request:
    paths:
      - "cmd/**"
      - "manifest_staging/**"

permissions: read-all

jobs:
  helm_lint_test:
    name: "Helm lint"
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    
    - name: Set up Helm
      uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4.2.0
      with:
        version: "3.14.1"
      if: install
    
    - name: Lint Helm charts
      run: |
        helm lint manifest_staging/charts/gatekeeper/
        helm lint cmd/build/helmify/static/
