name: check-helm-lint
on:
  push:
    paths:
      - "cmd/build/helmify/static/**"
      - "manifest_staging/**"
  pull_request:
    paths:
      - "cmd/build/helmify/static/**"
      - "manifest_staging/**"

permissions: read-all

jobs:
  helm_lint_test:
    name: "Helm lint"
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    
    - name: Set up Helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      with:
        version: "3.14.1"
      id: install
    
    - name: Lint Helm charts
      run: |
        helm lint manifest_staging/charts/gatekeeper/
        helm lint cmd/build/helmify/static/
