name: patch_docs
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[1-9]+' # run this workflow when a new patch version is published

permissions:
  contents: write
  pull-requests: write

jobs:
  patch-docs:
    runs-on: ubuntu-22.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - name: Set release version and target branch for vNext
        if: github.event_name == 'push'
        run: |
          TAG="$(echo "${{ github.ref }}" | tr -d 'refs/tags/v')"
          MAJOR_VERSION="$(echo "${TAG}" | cut -d '.' -f1)"
          echo "MAJOR_VERSION=${MAJOR_VERSION}" >> ${GITHUB_ENV}
          MINOR_VERSION="$(echo "${TAG}" | cut -d '.' -f2)"
          echo "MINOR_VERSION=${MINOR_VERSION}" >> ${GITHUB_ENV}
          PATCH_VERSION="$(echo "${TAG}" | cut -d '.' -f3)"
          echo "PATCH_VERSION=${PATCH_VERSION}" >> ${GITHUB_ENV}
          echo "TAG=${TAG}" >> ${GITHUB_ENV}
      
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871
        with:
          fetch-depth: 0

      - name: Create release branch if needed # patched docs are always being merged to the master branch
        run: |
          git checkout master 
      
      - name: Create patch version docs
        run: |
          tags=$(git tag -l --sort=-v:refname)
          versions=''
          for tag in $tags; do
            if echo "$tag" | grep -Eq '^v[0-9]+\.[0-9]+\.[0-9]+$'; then
              opa=$(curl https://raw.githubusercontent.com/open-policy-agent/gatekeeper/$tag/go.mod | grep /opa | awk '{print $2}')
              if [ $opa ]; then
                versions+="| \`$tag\`          | \`$opa\`   |\n"
              fi
            fi
          done
          make patch-version-docs NEWVERSION=v${MAJOR_VERSION}.${MINOR_VERSION}.x TAG=v${TAG} OLDVERSION=v${MAJOR_VERSION}.${MINOR_VERSION}.$((PATCH_VERSION-1)) OPA_VERSIONS="${versions}"
      
      - name: Create release pull request
        uses: peter-evans/create-pull-request@5e914681df9dc83aa4e4905692ca88beb2f9e91f # v7.0.5
        with:
          commit-message: "chore: Patch docs for ${{ env.TAG }} release"
          title: "chore: Patch docs for ${{ env.TAG }} release"
          branch: "patch-docs-${{ env.TAG }}"
          base: "master"
          signoff: true
          labels: |
            release-pr
            ${{ github.event.inputs.release_version }}
      